Source: ros-noetic-axis-msgs
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-sensor-msgs
Homepage: http://ros.org/wiki/axis_camera
Standards-Version: 3.9.2

Package: ros-noetic-axis-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: ROS messages used by the axis_camera package to control Axis PTZ and fixed cameras
