Source: ros-humble-axis-msgs
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rosidl-default-generators, ros-noetic-geometry-msgs, ros-noetic-std-msgs, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/axis_camera
Standards-Version: 3.9.2

Package: ros-humble-axis-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rosidl-default-runtime, ros-noetic-geometry-msgs, ros-noetic-std-msgs, ros-humble-ros-workspace
Description: ROS messages used by the axis_camera package to control Axis PTZ and fixed cameras
